*{/*för att påverka hela html sidan*/
    padding: 0; /*nollar paddingen för att jag ska kunna lägga in det i dem elementen jag vill ha padding på*/
    box-sizing: border-box;/*räknar med padding och border i alla elementen */
}

body {
    font-family: 'Cinzel Decorative';/*väljer min fontfamily*/
    width: 100vw;/*bredden*/
    height: 100vh;/*höjden*/
    margin: 0;/*nollar utrymmet runt alla element så jag senare kan påverka dem individuellt*/
    overflow-x: hidden;/*för att motverka scrollen när mina cirklar roterar ur skärm*/
    background: #9dcdb06f;/*färgen*/
}

body::-webkit-scrollbar { /*vill påverka srollen, vill att den skall vara osynlig*/
    display: none;
    scroll-behavior: smooth;
  }
.container{ 
    width: 100%;/*breden*/
    height: 100%;/*höjden*/

    
}

section {
    display: flex;
    justify-content: center;/*centrera diven*/
    align-items: center; /*centrear diven*/
    width: 100vw;
    height: 100vh; 

}

h1{
    color: #629677;/*färg på texten*/
    font-size:50px; /*storleken på fonten*/
    animation:moving 10s ; /*Aktiverar animation*/
}
 @keyframes moving {  /**/
     0% { /*när texten är i 0% kommer den vara osynlig,och storleken 35px*/
         opacity:0;
         font-size:35px;
     }

     50% { /*när texten är i 50% i storlek i storlek 50px*/
         font-size:50px;
     }
 }
a{
    text-decoration: none; /*väljer att inte ha nån dekoration*/
    transition: all 0.5s ease-in-out; 
}

ul{
    list-style: none;  /*vill inte ha ågonting framför så som punkter*/
}

header{
    display: flex;
    background-color: #d1cae131;
    justify-content: space-around;
    padding: 0.5rem 0;
    position: sticky;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.Logo {
    display: flex;
    align-items: center;
    position: sticky;
    
    
}

.Logo img{
    width: 90px;
    transition: all 0.5s ease-in-out;
    margin-right: 5px;  /*för att kunna ha lite mellanrum mellan bilden/logan och texten*/
    border-radius:50%; /*väljer att runda av bilden på 50%*/
    
}

.header-logo{
    color: #629677;
    font-weight: 900; 
    font-size: larger;
}



.nav-list{
    display: flex;
    align-items: center;
}

.nav-item{
    margin: 0 8px;
}


.nav-link{
    padding: 10px;
    font-size:  0.9rem;
    font-weight: 800;
    color:#629677;

}



.nav-link:hover{
    border-bottom: solid 1px #324b3c;
}

.header-toggle,
.header-close{
    display: none;
}
#videoBG {
    position:fixed;
    z-index:-1;
}
@media screen and (max-width:768px){  /*bestämmer vad som ska hända med mina element när skärmstorleken är 768px*/
    header{
        height: 48px;
        justify-content: space-around;
        padding: 0 28px;
    }

    .Logo a{
        font-size: 0.9rem;
        transition: all 0.5s ease-in-out;
    }

    .Logo img{
        width: 60px;
        transition: all 0.5s ease-in-out;
        
    }

    .header-toggle{
        display:inline;
        color: #629677;
        font-size: 24px;
    }

    .header-toggle:hover{
        background-color:antiquewhite;
        border-radius: 5px;
    }
    .header-close{
        position: absolute;
        right: 24px;
        display: block;
        font-size:24px;
        border-radius: 50%;
        color: #629677;
    }

    .header-close:hover{
        background-color: antiquewhite;
    }

    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color:#9dcdb06f;
        color: #a696e7;
        width: 60%;
        height:100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 35%;
        backdrop-filter: blur(10px);  
        -webkit-backdrop-filter: blur(10px);
    }

    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        margin: 2rem 0;
        
    }
    .Show{
        right: 0;
    }

    .nav-link{
        color: #273431
    }

    .header-close{
        color: #273431
    }
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  
  }


#reservation , #about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #629677;
    padding-bottom: 20px;
    margin-top:80px;
  
}

.about-img{
    background: url("Img/img2.jpg") center/cover no-repeat;
    box-shadow: -8px 13px 17px 0px rgba(61,84,67,0.4);

   
}



.about-container{
    display: grid;
    grid-template-columns: 420px 420px;
    border-bottom: 1px solid #324b3c;
    padding-bottom: 30px;
    border-top: 1px solid #324b3c;
    padding-top: 30px;
    
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
    border-bottom: 1px solid #324b3c;
    padding-bottom: 30px;
    border-top: 1px solid #324b3c;
    padding-top: 30px;
   
}

.about-content{
   /* background: #a6b27e20;*/
    height: 330px;
    
}

.about-content h3{
    text-align: center;
    color:  #629677;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 600;
}

p{ 
    margin: 30px;
    font-weight: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.card-img{
    background: url("Img/img5.jpg") center/cover no-repeat;
    box-shadow: -8px 13px 17px 0px rgba(61,84,67,0.4);
    
    
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    /*background: #a6b27e20;*/
    height: 330px;

}
.card-content h3{
    text-align: center;
    color:  #629677;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 600;
}


.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #629677;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.8;
}

.info{
    text-align: center;
    color:  #629677;
    padding: 25px 0 10px 0;
    font-size: 20px;
    font-weight: 200;
    border-bottom: 1px solid #324b3c;
    padding-bottom: 30px;
    border-top: 1px solid #324b3c;
    padding-top: 30px;
}


@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%; 
        width: 100vw;
        border: none;
    }

    .about-container{
        grid-template-columns: 100%;
        width: 100vw;
        border: none;
    }
    .card-img{
        height: 330px;
    }

    .about-img{
        height: 330px;
    }

    .info{
        font-size:15px;
    }
}



footer {
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: #6296772c;
    color: #324b3c;
}

